@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode mais de um elemento)
*/

body {
    background-color: rgba(15, 228, 228, 0.584);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(26, 130, 61);
}

h1#principal {
    text-align: center;
    background-color: rgb(26, 130, 61);
    color: white;
}

h2 {
    color: rgb(26, 130, 61);
}
.basico {
    color: rgb(26, 130, 61);
}
.intermediario {
    color: #834d26;
}
.avancado {
    color: rgb(220, 25, 25);
}
.destaque {
    background-color: #cece5a93;
}